*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(140, 233, 233, 0.616);
}
.header{
    color: rgb(31, 31, 168);
}
.formpage{
    background-color: rgba(50, 238, 25, 0.629);
    /* border: 2px solid red; */
    text-align: center;
    width: 310px;
    height: 330px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
}
#textbox{
    width:180px ;
    height: 30px;
    text-align: center;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 5px;
    background-color: red;
    color: white;
    font-size: 1em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(210, 109, 26);
    cursor: pointer;
}
#result{
    margin-top: 5px;
    font-size: 1.5em;
    font-weight: bold;
}